@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

$base-color: #003c71;
$divider-color: rgba(255, 255, 255, 0.1) solid 1px;

html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: $base-color;
  padding: 30px;
  color: white;
  text-transform: uppercase;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: normal;
  justify-content: center;
}

/* Global */
.flex-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

sup {
  font-size: 0.45em;
}

.divider {
  height: 1px;
  margin: 20px 0px 20px 0px;
  border-bottom: $divider-color;
}

/* List */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  align-content: normal;
  border-bottom: $divider-color;
}
.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.flex-container > input {
  margin-right: 10px;
  outline: white 1px solid !important;
  cursor: pointer;
}

/* App */
.app-cont {
  max-width: 850px;
}
.list-cont,
.product-cont {
  width: 50%;
}
.product-content {
  margin-left: 20px;
}

/* Icon */
.product-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background: white;
}

/* Headlines */
.product-hl {
  font-size: 3em;
  line-height: 0.75em;
  font-family: "Pathway Gothic One", sans-serif;
}

/* Subheads */
.product-sh-cont * {
 /* margin-top: 10px; */
}
#sh-1 {
  /* margin-top: 15px; */
}

/* Buttons */
.input-buttons-cont {
  margin-top: 40px;
}
.input-buttons-cont * {
  padding: 5px 15px 5px 15px;
  border-radius: 1.5em;
  font-size: 0.6em;
  background: white;
  color: $base-color;
  cursor: pointer;
}
.clear-btn {
  margin-left: 10px;
}

/* Footer */
.product-footer{
  text-transform: none;
  line-height: 1.3em;
}